#margemnav{
    
    margin-bottom: 20px;
    
}

#margemcard{
    
    margin-left: 15px;
    margin-bottom: 15px;
    
}

#margem-footer{
    
    margin-top: 10px;
    
}

#posicaobotao{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

#tabelacarrinho{
    
    
}